:root {
  --var: 1rem;
  --main-background-color: #f8f8f8;
}

body {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 40rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.Logo {
  margin: 2rem 0;
  width: 100%;
  color: #0f2e53;
  font-size: 1.8rem;
  font-weight: 700;
}

.Intro {
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  margin: 2rem 0;
  border-left: 0.25rem solid #0f2e53;
}

.Code {
  background: #f2f2f2;
  padding: 0.125rem;
  border-radius: 0.125rem;
  font-family: monospace;
}

.Emoji {
  padding-right: 0.5rem;
}

/* EDITABLE BLOCK*/

.Block {
  /* margin: 0.25rem 0; */
  /* display: inline; */
  /* original .5 rem */
  /* padding: 0.5rem; */
  padding: 1%;
  /* background: #fafafa; */
  /* background: lightblue; */
  border-radius: 0.25rem;
  width: 100%;
  margin: .05rem;
  
  /* -webkit-user-select: text;
  user-select: text; */
}
.Block:hover {
  background: #f8f8f8;
  
  /* outline-color: #f5f6fb; */
  /* outline-color: pink; */
}
.Block:focus {
  background: #f5f6fb;
  /* background: lightsalmon; */
}

/* .block-content {
  width: 80%;
}

.drag-handle {
  width: 20%;
} */

/* SELECT MENU */

.SelectMenu {
  position: absolute;
  width: 6.875rem;
  height: 9rem;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.SelectMenu .Items {
  background: #fafafa;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  border-radius: 0.5rem;
}
.SelectMenu .Items div[role="button"] {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid f5f6fb;
}
.SelectMenu .Items div[role="button"]:hover {
  background: #f5f6fb;
  cursor: pointer;
}
.SelectMenu .Items div[role="button"]:last-of-type {
  border-bottom: none;
}
.SelectMenu .Items div[role="button"]:hover,
.SelectMenu .Items div[role="button"]:focus {
  background: #f5f6fb;
  cursor: pointer;
}
.SelectMenu .Items div[role="button"]:first-of-type:hover,
.SelectMenu .Items div[role="button"]:first-of-type:focus {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.SelectMenu .Items div[role="button"]:last-of-type:hover,
.SelectMenu .Items div[role="button"]:last-of-type:focus {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.Selected {
  background: #f5f6fb;
  border-radius: 0.5rem;
}


.flex-box {
  display:flex;
  column-gap: 10px; 
  /* background: orange; */
  padding: 0px;
  align-content: flex-start
  /* background: yellow; */
  /* margin: 0px; */
  /* height: 2rem; */
  /* vertical-align: top; */

  /* justify-content:space-between; */
  /* outline: 2px dashed blue; */
}

/* .inline-block { */
  /* display: inline-block; */
  /* width: 40%; */
  /* white-space: nowrap */
/* } */

.drag-handle {
  float: left;
  /* padding-top: 25px; */
  /* padding-top: 0rem; */
  padding-top: 0.5rem;
  margin: auto;
  /* background: var(--main-background-color); */
  opacity: 0.0;
  /* gap: 2rem; */
  /* padding-left: .2rem; */
  /* vertical-align: middle; */
  
  /* outline-color: #f5f6fb; */

  /* opacity: .5; */
  transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  -webkit-transition: opacity .4s ease-out;
  -o-transition: opacity .4s ease-out;
}

.drag-handle:hover:focus {
  opacity: .4;
  /* background-color: brown; */
}

/* .drag-handle:focus { */
  /* opacity: .4; */
  /* background: green; */
/* } */

/* .drag-handle:hover + .block-content { */
  /* background: #f8f8f8; */
  /* background: orange; */
/* } */


/* .drag-handle:active { */
  /* outline: 0; */
  /* background:orange; */
/* } */

.flex-box:hover .drag-handle {
  opacity: .4;
  /* background: darkmagenta; */
 
}
.flex-box:hover .Block {
  /* opacity: .4; */

  background: #f8f8f8;
 
}

/* .flex-box:focus .drag-handle { */
  /* opacity: 1; */
  /* background: lightgreen; */
/* } */
/* .Block:hover + .drag-handle {
  opacity: 1;
  background: green;
} */
/* .Block:focus + .drag-handle { */
  /* opacity: 1; */
  /* background: blue; */
/* } */
/* .Block:hover + .drag-handle { */
  /* color: #FF3333; */
/* } */
/* .drag-handle:hover { */
  /* background: black; */
  /* opacity: 1; */
/* } */
/* .drag-handle:focus { */
  /* background: black; */
  /* opacity: 1; */
/* } */

/* .floatingright {
  float: right;
} */

/* .halfer {
  flex: 50%;
} */

/* .draggable .block {
  display: inline-block;
  width: calc(100% - 1rem);
} */

/* .draggable:hover {
  .block {
    background: #fafafa;
    outline-color: $tertiary;
  }
  .dragHandle {
    opacity: 1;
  }
} */